:root {
  /* Fonts */
  --primary-font: "Roboto", sans-serif;

  /* Text colors */
  --primary-txt-cl: #2e2f42;
  --secondary-txt-cl: #434455;

  /* BG colors */
  --primary-bg-cl: #2e2f42;
  --accent-bg-cl: #f4f4fd;
  --white: #ffffff;

  /* Colors */
  --btn-active-cl: #404bbf;
  --iris: #4d5ae5;
  --corn-flower: #e7e9fc;

  /* btn type white  */
  --btn-white-cl: #e7e9fc;

  /* btn type purple  */
  --btn-cl: #4d5ae5;
}

body {
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
  color: var(--primary-txt-cl);
}
/* Logo  */
.header-logo {
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-txt-cl);
}
.logo-web {
  color: var(--iris);
}
.footer-logo {
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.logo-link {
  text-decoration: none;
}

/* Nav  */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
/* Address  */
.address-item {
  color: var(--secondary-txt-cl);
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
}

/* Hero section  */
.hero-section {
  background-color: var(--primary-bg-cl);
}
.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
}
.hero-button {
  background-color: var(--btn-cl);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* About us  */
.list-text {
  color: var(--secondary-txt-cl);
  font-size: 16px;
  line-height: 1.5;
}
.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* What are we doing */
.wwd-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
/* .wwd-item {
    border: 1px solid #E7E9FC;
} */

/* Our team  */
.team {
  background-color: var(--accent-bg-cl);
}
.team-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
.team-item {
  background-color: var(--white);
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.team-item-text {
  color: var(--secondary-txt-cl);
  font-size: 16px;
  line-height: 1.5;
}

/* Footer */
footer {
  background-color: var(--primary-bg-cl);
}

.footer-text {
  color: var(--corn-flower);
}

/* Link  */
.link {
  text-decoration: none;
  color: currentColor;
}
.link:hover,
.link:focus {
  color: var(--iris);
}

/* Button */
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 4px;
}
.btn:hover,
.bt:focus {
  background-color: var(--btn-active-cl);
}

/* List  */
.list {
  list-style: none;
}

/* Portfolio  */
.filter-title {
  display: none;
}
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--btn-white-cl);
  color: var(--iris);
  border: 1px solid var(--corn-flower);
  border-radius: 4px;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white);
}

/* .row-item {
  background-color: var(--white);
  border: 1px solid var(--corn-flower);
} */

.row-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.row-list-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-txt-cl);
}

.row-link {
  text-decoration: none;
  color: currentColor;
}
